<div class="card my-3">
    <div class="card-header">
        {{#each labels}}
            <span style="color:{{ color }};">{{ name }}</span>
        {{/each}}
    </div>
    <div class="card-body">
        <p class="card-text">{{ content }}</p>
        <a class="card-link" href="/note/{{ _id }}">View</a>
        <a class="card-link" href="/note/{{ _id }}/edit">Edit</a>
        <a class="card-link text-danger"
           href="/note/{{ _id }}/delete">Delete</a>
    </div>
</div>
