<div class="card shadow-sm border-{{ noteColor labels }} my-3">
    <div class="card-header bg-{{ noteColor labels }}">
        {{#each labels}}{{> label}}{{/each}}
    </div>
    <div class="card-body">
        <p class="card-text">{{ content }}</p>
        <a class="card-link" href="/note/{{ _id }}">View</a>
        <a class="card-link" href="/note/{{ _id }}/edit">Edit</a>
        <a class="card-link text-danger"
           href="/note/{{ _id }}/delete">Delete</a>
    </div>
</div>
