<div class="card shadow-sm bg-{{ noteColor labels }} my-3">
    <div class="card-header d-flex">
        <span class="mr-auto">
            {{#each labels}}{{> label}}{{/each}}
        </span>
        <span class="ml-auto">
            <a class="mr-2" href="/note/{{ _id }}/edit">
                <span class="fa fa-edit text-{{ textColor labels }}"></span>
            </a>
            <a class="ml-2" href="/note/{{ _id }}/delete">
                <span class="fa fa-trash text-{{ textColor labels }}"></span>
            </a>
        </span>
    </div>
    <div class="card-body">
        <p class="card-text text-{{ textColor labels }}">{{ content }}</p>
    </div>
</div>
